<H2>agregue un contacto</H2>
<form class="example-form">
    <mat-list>
        
    <mat-divider>Divider</mat-divider>
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Apellido</mat-label>
            <input matInput placeholder="Apellido">
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Centro</mat-label>
            <input matInput placeholder="Centro">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Cargo</mat-label>
            <input matInput placeholder="Cargo">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Teléfono</mat-label>
            <span matPrefix>+505 &nbsp;</span>
            <input type="number" matInput placeholder="8888-7777">
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Extensión</mat-label>
            <input matInput placeholder="Extensión">
        </mat-form-field>

    </mat-list>

</form>